{% load static %}
{% load disease %}
{% load mayus %}
<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" ng-app="app">

<head>
  <link rel="icon" href="{% static 'images/logo.png' %}">
  <meta charset="UTF-8" />
  <title>Fynex</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />


  <!--Data table-->
  <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap4.min.css">

  <!--Toogle button-->
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

  <script>
    var v_style = "{% static 'css/style.css' %}";
    var v_style_xlarge = "{% static 'css/style-xlarge.css' %}";
    var v_style_large = "{% static 'css/style-large.css' %}";
    var v_style_medium = "{% static 'css/style-medium.css' %}";
    var v_style_small = "{% static 'css/style-small.css' %}";
    var v_style_xsmall = "{% static 'css/style-xsmall.css' %}";
  </script>


  <script src="{% static 'js/skel.min.js' %}"></script>
  <script src="{% static 'js/skel-layers.min.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <style>
    input[type="radio"]{
      border: none;
    }
  </style>
</head>

<body>
  {% if messages %}
  <ul class="messages" style="padding: 0 0 0 0;margin: 0 0 0 0;">
    {% for message in messages %}
    <div {% if message.tags %} class=" {{ message.tags }} " {% endif %}>
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} style="color:white" {% endif %}>{{ message }}</strong>
    </div>
    {% endfor %}
  </ul>
  {% endif %}
  <!-- Header -->
  <div class="container-fluid header">
    <h3 class="title-nav">
      <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
      <a href="{% url 'Fynex-index' %}" class="noHover"><img src="{% static 'images/logo.png' %}" width="80px"/></a>
    </h3>
  </div>

  <input type="hidden" id="cod_paciente" value="{{paciente.id}}"/>
  <div w3-include-html="{% static 'helpers/SideNavs/medico-paciente-level2.html' %}"></div>


  <div class="container-fluid main_section" ng-controller="controlador_nutricion">
    <h1 style="margin-bottom: 50px;">Plan generado para {{paciente.user.first_name}} 
    {% if nueva %}
      <a style="margin-left: 15px;" data-placement="bottom" data-toggle="popover" title="Información utilizada:"
          data-content="Edad: {{age}} años<br>Altura: {{height}} metros<br>Peso: {{weight}} kilogramos<br>Ritmo cardíaco: {{heartRate}} latidos/m<br>Nivel de glucosa: {{glucose}} mg/dl<br>{% if diseases is not None %} Posibles enfermedades: <br> {% for di in diseases %} - <strong>{{di | disease}}</strong> <br> {% endfor %}{% endif %}"><i
            class="fa fa-question-circle"></i></a>
    {% endif %}
    </h1>
    
    <div style="width: 100%;">
      <form method='POST' action="#">
        {%csrf_token%}
        <input type="hidden" name="save" value="save"/>
        <input type="hidden" name="id" value="{{plan.id}}"/>
        
        <table style="width: 100%;">
          
          <tr style="width: 100%;">
            <td style="width: 100%;" colspan="2">
              <div class="rate">
                <input {% if plan.rating == 5.0 %} checked {% endif %} type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input {% if plan.rating == 4.0 %} checked {% endif %} type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input {% if plan.rating == 3.0 %} checked {% endif %} type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input {% if plan.rating == 2.0 %} checked {% endif %} type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input {% if plan.rating == 1.0 %} checked {% endif %} type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div>
              <a style="margin-left: 15px;" data-placement="bottom" data-toggle="popover" title="Calificación:"
          data-content="Califique esta recomendación de 0 a 5 estrellas, donde 0 estrellas significa que la recomendación no es para nada útil, y 5 estrellas si la recomendación es completamente útil."><i
            class="fa fa-question-circle"></i></a>  
            </td>
            
          </tr>

          <tr style="width: 100%; padding-top: 10px;">
            <td style="width: 100%;">
              <input name="estado" type="checkbox" {% if plan.estado == "A" %} checked {% endif %} data-toggle="toggle" data-on="Activo" data-off="Inactivo" data-onstyle="success" data-offstyle="danger">
              <a style="margin-left: 15px;" data-placement="bottom" data-toggle="popover" title="Estado:"
          data-content="Defina el estado como <b>Activo</b> si desea que su paciente pueda ver esta recomendación, de lo contrario, defina el estado como <b>Inactivo</b>"><i
            class="fa fa-question-circle"></i></a> 
            </td>
            <td style="width: 100%;">
              <input type="submit" style="margin-bottom: 20px;" class="button" value="Guardar"/>
            </td>
          </tr>
        </table>        
      </form>
    </div>   
    <div class="row" >
      {% for parte_nombre,parte_valor in partes.items %}
      <div class="col-md-4 col_nutrition_card" >
        <div class="nutrition_card">
          <div class="img_comida">
            <img ng-if="{{parte_nombre}}_img==0" src="{% static 'images/'|add:parte_nombre|add:'1.png' %}">
            <img ng-if="{{parte_nombre}}_img==1" src="{% static 'images/'|add:parte_nombre|add:'2.png' %}">
          </div>
          <div class="nutrition_container">
            <table class="table table-hover" >
              <thead onclick="$('#menu_{{parte_nombre}} .mensaje').modal()">
                <th><h4><b>{{parte_nombre | mayus}}</b></h4></th>
              </thead>
              <detalle-parte id="menu_{{parte_nombre}}" parte="{{parte_nombre}}" proteinas="{{parte_valor.totals.proteinas}}" carbohidratos="{{parte_valor.totals.carbohidratos}}" grasas="{{parte_valor.totals.grasas}}"></detalle-parte>
              {% for parte in parte_valor.objects %}
              <tr onclick="$('#parte_{{parte.id}} .mensaje').modal()"><td>{{parte.nombre}}</td></tr>
              <detalle-nutricion id="parte_{{parte.id}}" alimento="{{parte.nombre}}" tipo-alimento="{{parte.alimento}}" calorias="{{parte.calorias}}" proteinas="{{parte.proteinas}}" carbohidratos="{{parte.carbohidratos}}" grasas="{{parte.grasas}}"></detalle-nutricion>
              {% endfor %}
          </table>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div w3-include-html="{% static 'helpers/footer-big.html' %}"></div>
  <script id="edit_script" src="{% static 'js/edit-modal.js' %}" token='{%csrf_token%}'></script>
  <script id="add_script" src="{% static 'js/add-modal.js' %}" token='{%csrf_token%}'></script>
  <script id="delete_script" src="{% static 'js/delete-modal.js' %}" token='{%csrf_token%}'></script>
</body>

<script src="{% static 'js/include-html.js' %}"></script>
<script src="{% static 'js/sidenav_js.js' %}"></script>
<script src="{% static 'js/datatable.js' %}"></script>
<script src="{% static 'js/nutrition-angular.js' %}"></script>
<script>
  $(document).ready(function () {
    $('[data-toggle="popover"]').popover({ html: true });
  });
</script>

</html>